

body{
  background-color: #b385d9;
  color: #000;
}

/* Makes sure the footer is at the bottom of the page */
footer.page-footer{
  clear: both;
  position: static;
  width: 100%;
  bottom: 0px;
  background-color: #953FDB;
  color: #000;
  overflow: hidden; 
  margin-bottom: 0;
  padding-bottom: 0;
}
footer a{
  color: #ff5858;
}

.title{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-weight: 700;
  padding: 0;
  padding-top: 0.25em;
  margin: 0;
}

.subtitle{
  padding: 0;
  margin: 0;
  padding-top: 0.75%;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 175%;
}

.byline{
  margin: 0;
  padding: 0;
  padding-top: 1%;
  font-family: 'Sanchez', serif;
  font-size: 125%;
}


.collapsible-header{
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  background-color: #ff5858;
  text-align: center;
  color: #fff;
  font-size: 200%;
}

/* Inside the body of the colapsible content */
.collapsible-body{
  background-color: #fff;
  color: #000;
  font-family: 'Sanchez', serif;
}

.footer-container{
   padding-left: 8%;
   padding-right: 8%; 
}

.logo{
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.linkendin-pic{
  padding-top: 5px;
  width: 40px;  
}

.profile-pic{
  width: 80px;
  height: 80px;
  padding-top:10px;
}

.header{
  text-align: center;
}

.profile-container{
  padding: 0;
  margin: 0;  
}

.backlight{
  text-shadow: 2px 2px 10px #fff, -2px -2px 10px white;
}

.recess{
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.link40{
  width: 40px;
  height: 40px;
}

/* Sprites */
.sprite { 
  background: url('../images/sprite/sprite.png') no-repeat top left; 
  width: 40px; 
  height: 40px;
  padding: 0px;
  margin: 0px;
  } 
.sprite.facebook{ background-position: 0 0; } 
.sprite.linkedin { background-position: 0 -50px; } 
.sprite.twitter { background-position: 0 -100px; } 
.sprite.xentientSmallLogo { background-position: 0 -150px; width: 200px; height: 60px; } 
 

.profile-container img{
  object-fit: none;
  width: 80px;
  height: 100px
}
.michelle{
  object-position: 0px 0px;
}

.justin{
  object-position: 1px -118px;
}

.lacy{
  object-position: 0px -228px;
}
#xentientLABS-logo{
  padding:0;
  margin: 0;
}
#xentientLABS-address{
  padding: 0;
  margin: 0;
}




